html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    background: #0E1621;
    padding: 5px;
    background-color: #0E1621 !important;
}
.game{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .game .header{
        height: 20vmin;
        width: 80vmin;
        padding: 2vmin;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #2B5278;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
        .game .header .title{
            display: flex;
            flex-direction: row;
            text-align: left;
            font-size: 6vmin;
            font-family: 'Digital', Arial;
            color: white;
            margin-bottom: 1vmin;
        }
            .game .header .title .titleText{
                width: 50vmin;
                text-shadow: 0px 0px 7px white;
                padding-left: 5vmin;
            }
            .game .header .title .titleButton{
                width: 24vmin;
                background-color: #17212B;
                border: white;
            }
        .game .header .score{
            display: flex;
            flex-direction: row;
            text-align: center;
            font-size: 3.5vmin;
            font-family: 'Audiowide', Arial;
            background-color: #17212B;
            color: white;
            border-radius: 5px;
            border: 1px solid white;
            box-shadow: 0 0 7px 5px hsl(0, 0%, 100%), 
                        0 0 6px 4px hsl(0, 0%, 100%) inset;
            text-shadow: 0px 0px 10px white;
        }
            .game .header .score .scoreText{
                width: 20vmin;
                border-right: 1px solid white;
            }
            .game .header .score .scoreNumber{
                width: 54vmin;
            }
            
    .game .field{
        position: relative;
        height: 80vmin;
        width: 80vmin;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #182533;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
        .game .field .cell{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18vmin;
            width: 18vmin;
            box-sizing: border-box;
            margin: 1vmin;
            background-color: #17212B;
            border-radius: 1.5vmin;
            border: 2px solid #6BBFFF;
        }
            .game .field .cell .cell-text{
                width: 15vmin;
                height: 15vmin;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 1.5vmin;
                font-family: 'Digital', Arial;
                transition: box-shadow 0.1s,
                            border 0.1s,
                            color 0.1s,
                            font-size 0.1s,
                            height 0.3s,
                            width 0.3s;
            }

            @keyframes moveCellText {
                from {opacity: 1;}
                to {opacity: 0;}
            }
            .game .field .cell .cell-text.animate{
                position: absolute;
                transition: left 0.1s, top 0.1s;
                animation-name: moveCellText;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            .game .field .cell .cell-text.highlight{
                height: 18vmin;
                width: 18vmin;
            }

            .game .field .cell .cell-text[data-number='2']{
                font-size: 10vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(189, 100%, 71%);
                color: hsl(189, 100%, 71%); 
                border: 1px solid rgb(107, 233, 255);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(189, 100%, 71%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(189, 100%, 71%) inset;
            }
            .game .field .cell .cell-text[data-number='4']{
                font-size: 10vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(242, 100%, 85%);
                color: rgb(178, 176, 255); 
                border: 1px solid rgb(178, 176, 255);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(242, 100%, 85%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(242, 100%, 85%) inset;
            }
            .game .field .cell .cell-text[data-number='8']{
                font-size: 10vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(308, 100%, 73%);
                color: rgb(255, 117, 237); 
                border: 1px solid rgb(255, 117, 237);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(308, 100%, 73%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(308, 100%, 73%) inset;
            }
            .game .field .cell .cell-text[data-number='16']{
                font-size: 10vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(0, 100%, 66%);
                color: rgb(255, 103, 103); 
                border: 1px solid rgb(255, 103, 103);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(0, 100%, 66%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(0, 100%, 66%) inset;
            }
            .game .field .cell .cell-text[data-number='32']{
                font-size: 10vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(29, 89%, 47%);
                color: rgb(228, 117, 13); 
                border: 1px solid rgb(228, 117, 13);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(29, 89%, 47%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(29, 89%, 47%) inset;
            }
            .game .field .cell .cell-text[data-number='64']{
                font-size: 10vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(54, 89%, 47%);
                color: rgb(228, 206, 13); 
                border: 1px solid rgb(228, 206, 13);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(54, 89%, 47%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(54, 89%, 47%) inset;
            }
            .game .field .cell .cell-text[data-number='128']{
                font-size: 9.5vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(108, 71%, 39%);
                color: rgb(57, 170, 29); 
                border: 1px solid rgb(57, 170, 29);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(108, 71%, 39%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(108, 71%, 39%) inset;
            }
            .game .field .cell .cell-text[data-number='256']{
                font-size: 9.5vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(231, 88%, 48%);
                color: rgb(15, 47, 230); 
                border: 1px solid rgb(15, 47, 230);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(231, 88%, 48%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(231, 88%, 48%) inset;
            }
            .game .field .cell .cell-text[data-number='512']{
                font-size: 9.5vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(155, 100%, 50%);
                color: rgb(10, 255, 149); 
                border: 1px solid rgb(0, 255, 149);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(155, 100%, 50%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(155, 100%, 50%) inset;
            }
            .game .field .cell .cell-text[data-number='1024']{
                font-size: 8vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(268, 100%, 50%);
                color: rgb(119, 0, 255); 
                border: 1px solid rgb(119, 0, 255);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(268, 100%, 50%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(268, 100%, 50%) inset;
            }
            .game .field .cell .cell-text[data-number='2048']{
                font-size: 6vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(330, 100%, 50%);
                color: rgb(255,0,128); 
                border: 1px solid rgb(255,0,128);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(330, 100%, 50%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(330, 100%, 50%) inset;
            }
            .game .field .cell .cell-text[data-number='4096']{
                font-size: 6vmin;
                text-shadow:    0px 0px 2px white, 
                                0px 0px 6px hsl(60, 100%, 50%);
                color: rgb(255,255,0); 
                border: 1px solid rgb(255,255,0);
                box-shadow: 0 0 3px 1px hsl(0, 0%, 100%),
                            0 0 6px 8px hsl(60, 100%, 50%),
                            0 0 3px 1px hsl(0, 0%, 100%) inset,
                            0 0 17px 9px hsl(60, 100%, 50%) inset;
            }
